<div class="flex flex-col flex-auto min-w-0">

    <!-- Start Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Inicio</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">Usuarios</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Lista de usuarios
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center space-x-3 sm:ml-4 sm:mt-0">
            <button class="w-auto min-w-26"
                    mat-flat-button
                    type="button"
                    [color]="'accent'"
                    [matMenuTriggerFor]="menu">
                <mat-icon   class="icon-size-4"
                            [svgIcon]="'heroicons_solid:arrow-down-tray'" >
                </mat-icon>
                <span class="ml-2">Exportar</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="ReportePDF()">
                    <div class="relative">
                        <mat-icon class="icon-size-7" [svgIcon]="'heroicons_solid:document'"></mat-icon>
                        <div class="absolute bottom-0 right-5 rounded px-1.5 text-xs font-semibold leading-4 text-white bg-red-600">PDF
                        </div>
                    </div>
                    <span class="ml-2">PDF</span>
                </button>
                <button mat-menu-item (click)="ReporteExcel()">
                    <div class="relative">
                        <mat-icon class="icon-size-7" [svgIcon]="'heroicons_solid:document'"></mat-icon>
                        <div class="absolute bottom-0 right-5 rounded px-1.5 text-xs font-semibold leading-4 text-white bg-green-600">XLS
                        </div>
                    </div>
                    <span class="ml-2">EXCEL</span>
                </button>
            </mat-menu>
            <button class="w-auto min-w-26"
                    mat-flat-button
                    type="button"
                    [color]="'accent'"
                    (click)="abrirModalUsuario(0, false)" >
                <mat-icon   class="icon-size-4"
                            [svgIcon]="'heroicons_mini:plus-circle'" >
                </mat-icon>
                <span class="ml-2">Agregar</span>
            </button>
        </div>
    </div>
    <!-- End Header -->

    <!-- Start Filter -->
    <div class="p-6 sm:py-4 sm:px-10 border-b bg-transparent">
        <form [formGroup]="frmUsuario">
            <div class="grid md:grid-cols-12 gap-6 w-full mt-8">
                <!-- Nombres -->
                <div class="md:col-span-3">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>Usuario</mat-label>
                        <input formControlName="usuario" [onlyLetter] matInput maxlength="50" [placeholder]="'Buscar por código o nombre'" (keydown.enter)="listarResumen()" />
                    </mat-form-field>
                </div>
                <!-- Género -->
                <div class="md:col-span-3">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>Género</mat-label>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:document'"
                            matPrefix></mat-icon>
                            <mat-select formControlName="sexo" (selectionChange)="listarResumen()">
                                <mat-option *ngFor="let objSexo of lstSexo" [value]="objSexo.Id">
                                    {{objSexo.Nombre }}
                                </mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
                <!-- Rol -->
                <div class="md:col-span-3">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>Rol</mat-label>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:document'"
                            matPrefix></mat-icon>
                            <mat-select formControlName="rol" (selectionChange)="listarResumen()">
                                <mat-option *ngFor="let objRol of lstRol" [value]="objRol.Id">
                                    {{objRol.Nombre }}
                                </mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
                <!-- Estado Registro -->
                <div class="md:col-span-3">
                    <mat-form-field
                        class="w-full"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>Estado</mat-label>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:ticket'"
                            matPrefix></mat-icon>
                        <mat-select formControlName="estado" (selectionChange)="listarResumen()">
                            <mat-option *ngFor="let objEstado of lstEstado" [value]="objEstado.Codigo">
                                {{objEstado.Nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- Actions -->
            <div class="flex items-center justify-end mt-4 mb-2">
                <button
                    class="w-auto min-w-26"
                    mat-stroked-button
                    type="button"
                    (click)="limpiar()">
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'cleaning_services'">
                    </mat-icon>
                    <span class="ml-2 mr-1">Limpiar</span>
                </button>
                <button
                    class="ml-4 w-auto min-w-26"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    (click)="listarResumen()"
                    (keyup.enter)="listarResumen()">
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'filter_alt'">
                    </mat-icon>
                    <span class="ml-2 mr-1">Filtrar</span>
                </button>
            </div>
        </form>
    </div>
    <!-- End Filter -->
    <!-- Start Content -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto overflow-x-auto">
            <table class="w-full" mat-table [dataSource]="dataSource" matSort matSortDisableClear>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex">
                            <a mat-icon-button matTooltip="Ver" (click)="abrirModalUsuario(element.Id, true)">
                                <div class="flex rounded-full shrink-0 items-center justify-center bg-primary-100 h-8 w-8">
                                    <mat-icon class="icon-size-5 text-primary-600" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                </div>
                            </a>
                            <a mat-icon-button matTooltip="Editar" (click)="abrirModalUsuario(element.Id, false)" >
                                <div class="flex rounded-full shrink-0 items-center justify-center bg-green-100 h-8 w-8">
                                    <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                                </div>
                            </a>
                            <a mat-icon-button matTooltip="Eliminar" (click)="eliminar(element.Id)">
                                <div class="flex rounded-full shrink-0 items-center justify-center bg-red-100 h-8 w-8">
                                    <mat-icon class="icon-size-5 text-red-600" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </div>
                            </a>
                            <a mat-icon-button matTooltip="Notificar" (click)="notificar(element.Id)">
                                <div class="flex rounded-full shrink-0 items-center justify-center bg-cyan-100 h-8 w-8">
                                    <mat-icon class="icon-size-5 text-cyan-600" [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                                </div>
                            </a>
                            <a mat-icon-button matTooltip="Agregar rol" (click)="asociar(element.Id, element.ApellidoPaterno + ' ' + element.ApellidoMaterno + ', ' + element.Nombres)">
                                <div class="flex rounded-full shrink-0 items-center justify-center bg-violet-100 h-8 w-8">
                                    <mat-icon class="icon-size-5 text-violet-600" [svgIcon]="'heroicons_solid:users'"></mat-icon>
                                </div>
                            </a>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos y Nombres </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="z-20 flex items-center  py-4 ">
                            <div class="flex h-10 w-10 flex-0 items-center justify-center overflow-hidden rounded-full">
                                @if (element.Avatar !== null && element.Avatar !== '') {
                                    <img class="h-full w-full object-cover"
                                        [src]="element.Avatar"
                                        alt="Contact avatar"
                                    />
                                } @else {
                                    <div
                                        class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                    >
                                        {{ element.ApellidoPaterno.charAt(0) + element.ApellidoMaterno.charAt(0) }}
                                    </div>
                                }
                            </div>
                            <div class="ml-4 min-w-0">
                                <div class="">
                                    <span class="whitespace-nowrap pr-6 text-sm">{{ element.ApellidoPaterno + ' ' + element.ApellidoMaterno + ', ' + element.Nombres }}</span>
                                </div>
                                <div class="text-secondary">
                                    <span class="whitespace-nowrap pr-6 text-sm">{{ element.Email }}</span>
                                </div>
                            </div>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap pr-6 text-sm">{{ element.NombreRol }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let element">
                        <span
                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': element.EstadoTexto === 'INACTIVO',
                                            'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50': element.EstadoTexto === 'ACTIVO'
                                        }">
                                <span class="leading-relaxed whitespace-nowrap">{{element.EstadoTexto}}</span>
                            </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fechaCreacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap pr-6 text-sm">{{ element.FechaModificacion | date:'dd/MM/yyyy hh:mm:ss a'}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="responsable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado por</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap pr-6 text-sm">{{ element.UsuarioResponsable }}</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
                <tr class="order-row h-16" mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
            </table>

            <div class="no-results" *ngIf="!(dataSource.loading$ | async)" [style.display]="dataSource.totalItems === 0 ? '' : 'none'">
                No se encontraron registros coincidentes.
            </div>
            <div class="overlay" *ngIf="dataSource.loading$ | async">
                <div class="spinner-container">
                    <mat-progress-spinner color="warn" diameter="100" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </div>
            <mat-paginator class="border-t" [length]="dataSource.totalItems" [pageSize]="10" [showFirstLastButtons]="true" [pageSizeOptions]="[5,10,20,50]" aria-label="Selecciona página del listado">
            </mat-paginator>
        </div>
    </div>
    <!-- End Content -->
</div>
