<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="securityForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Cambiar su contraseña</div>
        </div>
        <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Contraseña Actual</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix
                    ></mat-icon>
                    <input
                        [formControlName]="'currentPassword'"
                        type="password"
                        matInput
                    />
                    @if (securityForm.get('currentPassword').hasError('required')) {
                        <mat-error> La contraseña actual es necesaria </mat-error>
                    }
                    @if (securityForm.get('currentPassword').hasError('minlength')) {
                        <mat-error> La contraseña debe tener 6 dígitos com mínimo </mat-error>
                    }
                </mat-form-field>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Contraseña Nueva</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix
                    ></mat-icon>
                    <input
                        [formControlName]="'newPassword'"
                        type="password"
                        matInput
                    />
                    @if (securityForm.get('newPassword').hasError('required')) {
                        <mat-error> La contraseña nueva es necesaria </mat-error>
                    }
                    @if (securityForm.get('newPassword').hasError('minlength')) {
                        <mat-error> La contraseña debe tener 6 dígitos com mínimo </mat-error>
                    }
                </mat-form-field>
                <div class="text-hint mt-1 text-md">
                    Mínimo 6 caracteres. Debe incluir números, letras y caracteres especiales.
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                (click)="cancel()"
                mat-stroked-button
                type="button">
                Cancelar
            </button>
            <button
                [disabled]="securityForm.invalid"
                (click)="save()"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'"
            >
                Guardar
            </button>
        </div>
    </form>
</div>
