<div class="-m-6 flex max-h-screen flex-col ">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary-700 pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">{{titulo}}</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8 flex-grow"
        [formGroup]="puestoForm"
    >
        <div class="mt-4 grid w-full gap-4 md:grid-cols-4">
            <!-- Titulo -->
            <div class="md:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Título</mat-label>
                    <input matInput [formControlName]="'titulo'"
                        [class.componentes-deshabilitados]="puestoForm.get('titulo').disabled"
                    />
                    @if (puestoForm.get('titulo').hasError('required')) {
                        <mat-error> El título es necesario </mat-error>
                    }
                </mat-form-field>
            </div>

            <!-- Descripción -->
            <div class="md:col-span-4">
                <mat-label class="font-medium">Descripción</mat-label>
                <quill-editor
                    class="w-full"
                    [styles]="{ height: 'auto', minHeight: '30px' }"
                    [placeholder]="'Ingrese la descripción del formulario'"
                    [formControlName]="'descripcion'"
                    [bounds]="'self'"
                    [modules]="quillModules"
                ></quill-editor>
            </div>

            <!-- Rango de Fecha -->
            <div class="md:col-span-4">
                <mat-form-field
                    class="w-full">
                    <mat-label class="titulo-etiquetas">Periodo de Emisión</mat-label>
                    <mat-date-range-input formGroupName="rangofecha" [rangePicker]="rangofecha">
                        <input type="text" formControlName="fechainicio" matStartDate placeholder="Fecha de Inicio" formatDate maxlength="10" matInput>
                        <input type="text" formControlName="fechafin" matEndDate placeholder="Fecha de Fin" formatDate maxlength="10" matInput>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="rangofecha"></mat-datepicker-toggle>
                    <mat-date-range-picker #rangofecha></mat-date-range-picker>
                </mat-form-field>
            </div>

            <!-- Departamento -->
            <div class="md:col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Departamento</mat-label>
                    <mat-select formControlName="departamento"
                        [class.componentes-deshabilitados]="puestoForm.get('departamento').disabled"
                        (selectionChange)="listarDistrito($event.value)"
                    >
                        <mat-option *ngFor="let objDepartamento of lstDepartamento" [value]="objDepartamento.DepaId">
                            {{objDepartamento.Nombre }}
                        </mat-option>
                    </mat-select>
                    @if (puestoForm.get('departamento').hasError('required')) {
                        <mat-error> El departamento es necesario </mat-error>
                    }
                </mat-form-field>
            </div>

            <!-- Distrito -->
            <div class="md:col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Distrito</mat-label>
                    <mat-select formControlName="distrito"
                        [class.componentes-deshabilitados]="puestoForm.get('distrito').disabled"
                    >
                        <mat-option *ngFor="let objDistrito of lstDistrito" [value]="objDistrito.DistritoId">
                            {{objDistrito.Nombre }}
                        </mat-option>
                    </mat-select>
                    @if (puestoForm.get('distrito').hasError('required')) {
                        <mat-error> El Distrito es necesario </mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <!-- Actions -->
        <div
            class="mt-4 flex flex-col justify-end sm:mt-6 sm:flex-row sm:items-center"
        >
            <div class="mt-4 flex items-center sm:mt-0">
                <!-- Cancelar -->
                <button
                    class="sm:mx-3"
                    mat-stroked-button
                    (click)="matDialogRef.close()"
                >
                    <span>Cancelar</span>
                </button>
                <!-- Guardar -->
                @if (!frmDisabled){
                    <button
                        [disabled]="puestoForm.invalid  || nNuevo"
                        class="order-first sm:order-last"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="guardar()"
                    >
                        Guardar
                    </button>
                }
            </div>
        </div>
    </form>
</div>
