<div class="-m-6 flex max-h-screen flex-col ">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary-700 pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">{{titulo}}</div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8 flex-grow"
        [formGroup]="rolesForm"
    >
        <div class="mt-4 grid w-full gap-4 md:grid-cols-4">
            <!-- Apellidos y Nombres -->
            <div class="md:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Nombres</mat-label>
                    <input [onlyLetter]="true" matInput [formControlName]="'nombres'" maxlength="50"
                        [class.componentes-deshabilitados]="rolesForm.get('nombres').disabled"
                    />
                </mat-form-field>
            </div>

            <!-- Rol -->
            <div class="md:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Rol</mat-label>
                    <mat-select [formControlName]="'rol'"
                        [class.componentes-deshabilitados]="rolesForm.get('rol').disabled"
                    >
                        <mat-option *ngFor="let objRol of lstRol" [value]="objRol.Id">
                            {{objRol.Nombre }}
                        </mat-option>
                    </mat-select>
                    @if (rolesForm.get('rol').hasError('invalidRol') ) {
                        <mat-error> El rol es necesario </mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        <!-- Actions -->
        <div
            class="mt-4 flex flex-col justify-end sm:mt-6 sm:flex-row sm:items-center"
        >
            <div class="mt-4 flex items-center sm:mt-0">
                <!-- Cancelar -->
                <button
                    class="sm:mx-3"
                    mat-stroked-button
                    (click)="matDialogRef.close()"
                >
                    <span>Cancelar</span>
                </button>
                <!-- Guardar -->
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="guardar()"
                >
                    Guardar
                </button>

            </div>
        </div>
    </form>
</div>
